#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    
}

.logo {
    width: 2.5cm;
    margin-right: 10px;
}

.navBar a {
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 10px;
    margin-inline: 10px;
    font-size: larger;
    font-weight: 600;
    transition: 200ms ease;
}

.navBar a:hover, .navBar a.active {
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none
}

.profPic {
    width: 2cm;
    height: auto;
}

/* login - pujde do vsech souboru */

.profilMain {
    display: flex;
    width: 2cm;
    height: 2cm;
    background-color: white;
    border-radius: 100px;
    transition: 300ms ease;
    font-size: 0;
    .prof {
        transition: 100ms ease;
        visibility: hidden;
    }
}
.profilMain:hover {
    width: 300px;
    transition: 300ms ease;
    font-size:initial;
    .prof {
        visibility: visible;
    }
}

.prof {
    max-width: fit-content;
    margin-left: 20px;
    margin-right: auto;
}
.prof a {
    margin-left: 10px;
    padding: 3px;
    background-color: #e0e0e0;
    border-radius: 5px;
    border: 1px ridge #111111;
}
.prof a:hover {
    background-color: #bbbbbb;
    transition: 50ms ease;
}
.prof h4 {
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}

/* konec login */

/* filepath: /D:/Artzone/ArtZone-Teplice/Style/kalendar.css */
#calendar {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #bbbbbb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc-toolbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.fc-toolbar h2 {
    font-size: 24px;
    margin: 0;
}

.fc-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
}

.fc-button:hover {
    background-color: #555;
}

.fc-button-primary {
    background-color: #007bff;
    color: #fff;
}

.fc-button-primary:hover {
    background-color: #0056b3;
}

.fc-daygrid-day {
    background-color: #fff;
    border: 1px solid #ddd;
}

.fc-daygrid-day:hover {
    background-color: #f0f0f0;
}

.fc-daygrid-event {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.fc-daygrid-event:hover {
    background-color: #0056b3;
}
