#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    
}

.logo {
    width: 2.5cm;
    margin-right: 10px;
}

.navBar a {
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 10px;
    margin-inline: 10px;
    font-size: larger;
    font-weight: 600;
    transition: 200ms ease;
}

.navBar a:hover {
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none
}

.profPic {
    width: 2cm;
    height: auto;
}

.p1 {
    padding-top: 3cm;
    padding-left: 10%;
}

.jmeno {
    font-weight: 500;
}
.jmeno span {
    font-weight: 700;
}
.p1 p {
    width: 50%;
    text-align: justify;
}

.odhlasitBtn {
    padding-left: 25%;
    vertical-align: bottom;
}
.odhlasitBtn button {
    width: 20%;
    height: 50px;
    font-size: x-large;
    font-weight: 600;
    color: #1c1c1c;
    background-color: #ececec;
    border-style:groove;
    border-color: #5e5e5e;
    border-radius: 10px;
}
.odhlasitBtn button:hover {
    cursor: pointer;
    background-color: #bfbfbf;
    transition: 100ms ease;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navBar {
        display: none;
    }

    .openbtn {
        display: block;
    }
}