body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    z-index: 5;
}

.logo {
    width: 2.5cm;
    margin-right: 10px;
}

.navBar a {
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 10px;
    margin-inline: 10px;
    font-size: larger;
    font-weight: 600;
    transition: 200ms ease;
}

.navBar a:hover, .navBar a.active{
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none
}

.profPic {
    width: 2cm;
    height: 2cm;
    object-fit: cover;
    border-radius: 50%;
}

.profilMain {
    display: flex;
    width: 2cm;
    height: 2cm;
    background-color: white;
    border-radius: 100px;
    transition: 300ms ease;
    font-size: 0;
}

.profilMain:hover {
    width: 300px;
    transition: 300ms ease;
    font-size: initial;
}

.prof {
    max-width: fit-content;
    margin-left: 20px;
    margin-right: auto;
    transition: 100ms ease;
    visibility: hidden;
}

.profilMain:hover .prof {
    visibility: visible;
}

.prof a {
    margin-left: 10px;
    padding: 3px;
    background-color: #e0e0e0;
    border-radius: 5px;
    border: 1px ridge #111111;
}

.prof a:hover {
    background-color: #bbbbbb;
    transition: 50ms ease;
}

.prof h4 {
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}
/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.uprH1 {
    margin-bottom: 50px;
}

main {
    margin-top: 110px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding: 0 10px;
}

.uprCasti {
    margin-bottom: 20px;
}
.uprCasti input, .uprCasti textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navBar {
        display: none;
    }

    .openbtn {
        display: block;
    }
}

@media screen and (max-width: 575.98px) {
    main {
        margin-top: 90px;
        margin-bottom: 20px;
        max-width: 100%;
        padding: 0 5px;
    }
}

/* Add other styles here */