<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="Img/logo_v2_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/kalendar.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/locales/cs.js"></script>
    <title>Kalendář akcí</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'cs',
                events: <%- JSON.stringify(events || []) %>,
                headerToolbar: {
                    left: 'today',
                    center: 'title',
                    right: 'prev,next'
                },
                firstDay: 1,
                contentHeight: 'auto',
                aspectRatio: 1.5,
                eventDidMount: function(info) {
                    const now = new Date();
                    const start = new Date(info.event.start);
                    const end = info.event.end ? new Date(info.event.end) : null;


                    if (end && end < now) {
                        info.el.classList.add('fc-event-past');
                    } else if (!end && start < now) {
                        info.el.classList.add('fc-event-past');
                    }

                    else if (
                        (start <= now && end && end >= now) ||
                        (start <= now && !end)
                    ) {
                        info.el.classList.add('fc-event-now');
                    }
                }
            });
            calendar.render();
        });



        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
        }
    </script>
</head>
<body>
    <header id="header">
        <a href="/" class="logo"><img class="logo" src="Img/logo.png"></a>

        <nav class="navBar">
            <a href="/">Domů</a>
            <a href="/umelci">Umělci</a>
            <a href="/kalendar" class="active">Kalendář akcí</a>
            <a href="/kontakt">Kontakt</a>
        </nav>

        <span class="openbtn" onclick="openNav()">&#9776; Menu</span>
        
        <div class="profilMain w3-display-right">
            <div class="profPic profPicB w3-display-right"><img class="profPic w3-circle" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt=""></div>

            <div class="prof">
                <h4><% if (name) { %>
                        <%= name %>
                    <% } else { %>
                        Uživatel
                    <% } %>
                </h4>
                <a href="/profil"><% if (name) { %>
                    Profil
                <% } else { %>
                    Přihlásit se
                <% } %></a>
            </div>
        </div>
    </header>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Domů</a>
        <a href="/umelci">Umělci</a>
        <a href="/kalendar" class="active">Kalendář akcí</a>
        <a href="/kontakt">Kontakt</a>
    </div>



    <div id='calendar'></div>
</body>
</html>