<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Kalendář akcí</title>
    <link rel="shortcut icon" href="Img/logo_v2_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/kalendar.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: <%= JSON.stringify(events || []) %>
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <header id="header">
        <a href="/" class="logo"><img class="logo" src="Img/logo.png"></a>

        <nav class="navBar">
            <a href="/">Domů</a>
            <a href="/umelci">Umělci</a>
            <a href="/kalendar" class="active">Kalendář akcí</a>
            <a href="/kontakt">Kontakt</a>
        </nav>
        

        <div class="profilMain w3-display-right">
            <div class="profPic profPicB w3-display-right"><img class="profPic w3-circle" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt=""></div>

            <div class="prof">
                <h4><% if (name) { %>
                        <%= name %>
                    <% } else { %>
                        <a href="/login">Přihlásit se</a>
                    <% } %>
                </h4>
            </div>
        </div>
    </header>

    <div id='calendar'></div>
</body>
</html>