<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Kontakt</title>
    <link rel="shortcut icon" href="Img/logo_v2_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/kontakt.css">
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
        }
    
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
        }
    </script>
</head>
<body>
    <header id="header">
        <a href="/" class="logo"><img class="logo" src="Img/logo.png"></a>

        <nav class="navBar">
            <a href="/">Domů</a>
            <a href="/umelci">Umělci</a>
            <a href="/kalendar">Kalendář akcí</a>
            <a href="/kontakt" class="active">Kontakt</a>
        </nav>

        <span class="openbtn" onclick="openNav()">&#9776; Menu</span>
        

        <div class="profilMain w3-display-right">
            <div class="profPic profPicB w3-display-right"><img class="profPic w3-circle" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt=""></div>

            <div class="prof">
                <h4><% if (name) { %>
                        <%= name %>
                    <% } else { %>
                        Uživatel
                    <% } %>
                </h4>
                <a href="/profil"><% if (name) { %>
                    Profil
                <% } else { %>
                    Přihlásit se
                <% } %></a>            
            </div>
        </div>    
    </header>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Domů</a>
        <a href="/umelci">Umělci</a>
        <a href="/kalendar" class="active">Kalendář akcí</a>
        <a href="/kontakt">Kontakt</a>
    </div>

    <!-- css: po .profpic je to header-->

    <h1 class="nadpis w3-center">Jak nás můžete kontaktovat?</h1>
    
    <div class="kontaktA">
        <div class="kontaktB">
            <h2 class="nadpisTyp">Adresa:</h2>
            <div class="adresContent">
                <p class="kontakty">Tovární 298/74, Dubí 417 02</p>
                <iframe style="border:none" src="https://en.frame.mapy.cz/s/lubogeruve" width="400" height="280" frameborder="0"></iframe>
            </div>
            
        </div>
        <div class="kontaktB">
            <h2 class="nadpisTyp">Telefon:</h2>

            <p class="kontakty"> Tomáš Koubek, Sekretariát (Pondělí-Neděle, 8:00-17:00): <span class="telCislo">+420 775 733 974</span></p>
            <p class="kontakty">Kryštof Skála, Manager (Pondělí-Pátek, 15:00-17:00): <span class="telCislo">+420 732 348 681</span></p>
            <p class="kontakty">Kryštof Kavalír, Správa webové stránky (Pondělí-Pátek, 8:00-12:00): <span class="telCislo">+420 774 244 104</span></p>
        </div>
        <div class="kontaktB">
            <h2 class="nadpisTyp">Email:</h2>
            <p class="kontakty">info@artzonetp.cz</p>
        </div>
    </div>

</body>
</html>