<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlásit se</title>
    <link rel="stylesheet" href="/Style/login_register.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="Img/logo_v2_icon.ico" type="image/x-icon">
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
        }
    
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
        }
    </script>
</head>
<body>
    <header id="header">
        <a href="/" class="logo"><img class="logo" src="Img/logo.png"></a>

        <nav class="navBar">
            <a href="/">Domů</a>
            <a href="/umelci">Umělci</a>
            <a href="/kalendar">Kalendář akcí</a>
            <a href="/kontakt">Kontakt</a>
        </nav>

        <span class="openbtn" onclick="openNav()">&#9776; Menu</span>
        
        <a href="/profil" class="profPic w3-display-right"><img class="profPic w3-circle" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt=""></a>
    </header>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Domů</a>
        <a href="/umelci">Umělci</a>
        <a href="/kalendar" class="active">Kalendář akcí</a>
        <a href="/kontakt">Kontakt</a>
    </div>
    
    <div class="main w3-center">
        <h1>Přihlaste se</h1>

        <% if(messages.error) { %>
            <%= messages.error %>
        <% } %>

        <form action="/login" method="POST">
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Heslo: </label>
                <input type="password" name="password" id="password" required>
            </div>

            <button type="submit" class="submit">Přihlásit se</button>
        </form>

        <div>
            <h3>Chcete se k nám přidat?</h3>
            <a href="/register">Registrujte se</a>
        </div>
    </div>

    
</body>
</html>