<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Profil</title>
    <link rel="shortcut icon" href="Img/logo_v2_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/profil.css">
</head>
<body>
    <header id="header">
        <a href="/" class="logo"><img class="logo" src="Img/logo.png"></a>

        <nav class="navBar">
            <a href="/">Domů</a>
            <a href="/umelci">Umělci</a>
            <a href="/kalendar">Kalendář akcí</a>
            <a href="/kontakt">Kontakt</a>
        </nav>
        
        <a href="/profil" class="profPic w3-display-right"><img class="profPic w3-circle" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt=""></a>
    </header>

    <!-- css: po .profpic je to header-->
    <div class="p1">
        <h1 class="jmeno">Uživatel <span><%= name %></span></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus excepturi dignissimos laborum perspiciatis, quibusdam similique illum minima, assumenda nobis eius, expedita totam deleniti voluptatum. Ipsa tempore commodi facere dolorem voluptatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minus eligendi animi minima cupiditate explicabo fugiat est debitis a quasi reprehenderit commodi odio, quos ipsum hic ratione culpa. Ducimus, natus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos harum eum quis quia cum expedita quisquam sunt doloremque enim sapiente nostrum reiciendis, quam doloribus aperiam ducimus omnis placeat quo. Tempore.
        </p>
    </div> 
    <form action="/logout?_method=DELETE" method="post" class="odhlasitBtn">
        <button type="submit">Odhlásit se</button>
    </form>
</html>