<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Seznam umělců</title>
    <link rel="shortcut icon" href="Img/logo_v2_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/umelci.css">
</head>
<body>
    <header id="header">
        <a href="/" class="logo"><img class="logo" src="Img/logo.png"></a>

        <nav class="navBar">
            <a href="/">Domů</a>
            <a href="/umelci" class="active">Umělci</a>
            <a href="/kalendar">Kalendář akcí</a>
            <a href="/kontakt">Kontakt</a>
        </nav>
        

        <div class="profilMain w3-display-right">
            <div class="profPic profPicB w3-display-right"><img class="profPic w3-circle" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" alt=""></div>

            <div class="prof">
                <h4><% if (name) { %>
                        <%= name %>
                    <% } else { %>
                        Uživatel
                    <% } %>
                </h4>
                <a href="/profil">Přihlásit se</a>
            </div>
        </div>    </header>

    <!-- css: po .profpic je to header-->

    <button type="button" class="btn" onclick="location.href=`https://www.youtube.com/watch?v=doEqUhFiQS4&ab_channel=WalfArchives`">Click me!</button>
</body>
</html>